  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
  @import url('css-reset.css');

  :root {
      --color-cyan: hsl(180, 66%, 49%);
      --color-dark-violet: hsl(257, 27%, 26%);
      --color-red: hsl(0, 87%, 67%);
      --color-gray: hsl(0, 0%, 75%);
      --color-grayish-violet: hsl(257, 7%, 63%);
      --color-grayish-violet-op: hsl(257, 7%, 63%, 0.3);
      --color-very-dark-blue: hsl(255, 11%, 22%);
      --color-very-dark-violet: hsl(260, 8%, 14%);
      --color-second-bg: hsl(230, 25%, 95%);
      --color-white: hsl(0, 0%, 100%);
      --font-weight-five: 500;
      --font-weight-seven: 700;
  }

  body {
      font-family: 'Poppins',
          sans-serif;
      overflow-y: scroll;
      overflow-x: hidden;
  }

  header {
      max-width: 100%;
      min-height: 100vh;
  }

  /* navbar section */

  .nav-links {
      width: 85%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
      transition: 0.3s;
  }

  .logo {
      width: 100px;
      cursor: pointer;
  }

  .nav-links ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      transition: all 0.3s ease-out;
  }

  .nav-links ul li {
      list-style: none;
      transition: 0.3s;
  }

  .nav-links ul li a {
      text-decoration: none;
      color: var(--color-gray);
      font-weight: var(--font-weight-seven);
      padding: 1rem;
      display: inline-block;
  }

  .nav-links ul li:nth-child(4) {
      margin-left: 35rem;
  }

  .nav-links li:nth-child(5) a {
      margin-left: 1rem;
      background-color: var(--color-cyan);
      color: var(--color-white);
      border-radius: 30px;
      width: 110px;
      line-height: 1;
      height: 44px;
      text-align: center;
      transition: .2s;
  }

  .nav-links li:last-child a {
      color: white;
  }

  /* Hamburger bars */
  .fa-bars {
      position: absolute;
      top: 2rem;
      right: 2.3rem;
      color: var(--color-gray);
      font-size: 2rem;
      display: none;
      cursor: pointer;
  }

  /* Navbar Media queries for mobile design */

  @media (max-width: 600px) {
      .logo {
          position: absolute;
          top: 2.2rem;
      }

      .fa-bars {
          display: block;
          transition: 0.3s;
      }

      .nav-links ul {
          display: none;
          flex-direction: column;
          background-color: var(--color-dark-violet);
          width: 330px;
          height: 370px;
          border-radius: 10px;
          position: absolute;
          z-index: 2;
          top: 6.25rem;
          right: 3.9rem;
          text-align: center;
          padding: 0.875rem;
      }

      /* To open the hamburger menu */
      .nav-links.open ul {
          display: block;
      }

      .nav-links ul li a {
          color: var(--color-white);
          font-weight: var(--font-weight-seven);
          font-size: 1.2rem;
          padding: 1rem 1rem;
      }

      .nav-links ul li:nth-child(4) {
          margin-left: 0;
      }

      .nav-links li:nth-child(3) a {
          border-bottom: 1px solid var(--color-grayish-violet-op);
          padding-bottom: 10px;
          margin-left: 20px;
          width: 290px;
          margin-bottom: 15px;
      }

      .nav-links li:nth-child(5) a {
          width: 290px;
          line-height: 0.7;
      }
  }

  /* -----------Hero Section---------------- */

  .hero-section {
      display: flex;
      flex-direction: row-reverse;
  }

  .hero-section .hero-img {
      position: relative;
      left: 9rem;
      top: 1rem;
      transform: scale(0.9);
  }

  .hero-section-content {
      padding: 7rem 6rem;
  }

  .hero-section-content h1 {
      font-weight: var(--font-weight-seven);
      font-size: 4rem;
      color: var(--color-dark-violet);
      line-height: 1.1;
      transition: all 0.3s ease-in-out;
  }

  .hero-section-content p {
      color: var(--color-grayish-violet);
      font-weight: var(--font-weight-five);
      line-height: 1.5;
      max-width: 25rem;
      padding-bottom: 2rem;
      transition: all 0.3s ease-in-out;
  }

  .get-started {
      background-color: var(--color-cyan);
      color: var(--color-white);
      border: none;
      padding: 1rem;
      font-weight: var(--font-weight-five);
      width: 10rem;
      height: 44px;
      line-height: 0.7;
      border-radius: 30px;
      cursor: pointer;
  }

  /* /* Main Media queries for mobile design */

  @media (max-width:600px) {
      main {
          overflow: hidden;
          border: 1px solid green;
          max-width: 390px;
          height: auto;
          margin: 0 auto;
      }
  }


  /* ----Hero section media queries---- */
  @media (max-width:600px) {
      .hero-section {
          display: flex;
          flex-direction: column;
          padding-bottom: 7rem;
      }

      .hero-section-content {
          padding: 0;
      }

      .hero-section .hero-img {
          position: relative;
          transform: scale(1.3);
          margin-top: 60px;
          left: 100px;
          z-index: 1;
          display: block;
          padding-bottom: 5rem;
      }

      .hero-section-content h1 {
          font-size: 2.67rem;
          font-weight: var(--font-weight-seven);
          color: var(--color-very-dark-blue);
          margin-bottom: 20px;
          text-align: center;
          width: 22rem;
          margin-left: 1rem;
          line-height: 1.2;
      }

      .hero-section-content p {
          font-size: 1rem;
          color: var(--color-grayish-violet);
          font-weight: var(--font-weight-five);
          margin-bottom: 0.2rem;
          margin-left: 2rem;
          width: 20.625rem;
          line-height: 2;
          letter-spacing: 0.7px;
          text-align: center;
      }


      .get-started {
          font-weight: var(--font-weight-seven);
          cursor: pointer;
          margin-left: 6.5rem;
      }

      .hero-section-content {
          margin-top: 20px;
          transition: 0.3s;
      }

      .hero-section-content.menu-open {
          margin-top: 130px;
          transition: 0.3s;
      }
  }